audio {
    display: none;

}

body {
    background-color: bisque;
    background-image: url("img/the_barista.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "IBM Plex Sans";
}

h1{ padding-top: 25px;
    display: center;
    padding-bottom: 0;
}
@font-face {
    font-family: IBM Plex Sans Condensed;
    src: url("IBM_Plex_Sans_Condensed");
}

img { opacity: .5;
    border-radius: 50%;
    width: 25%;
    height: 50%;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

.btn-primary {
    background-color: darkgoldenrod;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

coffeeContainer {
    margin-right: 0;

}


