audio{display: none;

}
body{ background-color: bisque;
    background-image:url("img/the_barista.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode:overlay;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}
.btn-primary{
    background-color: darkgoldenrod;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


coffeeContainer {
    margin-right: 0;



}


